* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 8px;
    display: block;
}

.header {
    min-height: 100vh;
    width: 100%;
    opacity: 1;
    background-image: linear-gradient(rgba(4, 9, 29, 0.8), rgba(5, 10, 29, 0.7)), url(../images/background2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.header p2 {    
    text-emphasis: 600;
}
.header p3 {
    color: green;
    text-emphasis: 600;    
}


.text-box {
    width: 90%;
    color: aliceblue;
    position: absolute;
    top: 50%;
    transform: translate(5%, 5%);
    opacity: 1;
    text-align: center;
}

.text-box h1 {
    font-size: 80px;
    opacity: 1;
    color: mintcream;
    font-family: 'Press Start 2P', cursive;
}

.text-box p {
    font-size: 40px;
    color: aliceblue;
}

nav {
    display: flex;
    padding: 0% 0%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 125px;
    align-self: left;
}

.nav-links {
    flex: 1;
    text-align: left;
}

.nav-links ul li {
    list-style: none;
    display: inline-table;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: aliceblue;
    text-decoration: none;

}

.to-top {
    background: lightgray;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: black;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

/*----- Getting Started -----*/
.START{
    width: 92%;
    margin: auto;
    text-align: center;
    color:aliceblue;
    padding-top: 250px;
    background-color: lightblue;    
}

.START{
    background-image: linear-gradient(rgba(5, 10, 29, 0.95), rgba(4, 9, 28, 0.8)), url(../images/Image5.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    opacity:0.9
}

.START h1 {
    font-size: 80px;
    font-weight: 600;
    font-family: 'Martian Mono', monospace;
}

.START p {
    color: black;
    font-size: 25px;
    padding-top: 30px;
    color: aliceblue;
}

.START p2 {
    color: black;
    font-size: 20px;
    padding-top: 30px;
}

#arcadeImg{
    position:relative;
    width:650px;
    right:400px;
    top:100px;
}

#evoImg{
    position:relative;
    width:750px;
    height:400px;
    left:405px;    
    top:117px;
}




/*----- Investment -----*/

.INVESTMENT {
    width: 92%;
    margin: auto;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 150px;    
    background-image: linear-gradient(rgba(4, 9, 28, 0.5), rgba(5, 9, 29, 0.6)), url(../images/Image10.jpeg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;    
}

.INVESTMENT h1 {
    font-size: 70px;
    font-weight: 800;
    position: relative;
    bottom: 100px;
    color:aliceblue;    
    font-family: 'Martian Mono', monospace;
}

.INVESTMENT p {
    color: black;
    font-size: 20px;
    padding-top: 20px;
}

.inv-row {
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
    color:aqua;
}

.img-study {
    position: relative;
    right:400px;
    width:300px;
    height:300px;
    top:150px;
    opacity: 0.6;
}

.img-study2 {
    position: relative;
    left: 400px;
    width:300px;
    height: 300px;
    top:150px;
    opacity: 0.6;
}


/*----- Handle -----*/

.HANDLE{
    width: 92%;
    margin: auto;
    text-align: center;
    color: black;
    padding-top: 250px;
    padding-bottom: 450px;
    background-image: linear-gradient(rgba(4, 9, 28, 0.9), rgba(5, 9, 29, 0.9)),url(../images/background8.jpeg);
}

.HANDLE h1 {
    font-size: 70px;
    font-weight: 800;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    bottom: 50px;
    color:aliceblue;    
    font-family: 'Martian Mono', monospace;
    background-image: url(../images/background4.jpeg);    
    background-size: auto;
}

.HANDLE h2{
    font-size:40px;
    font-weight:600;
    position:relative;
    top: 180px;
    color:ivory;
    background-image: linear-gradient(rgba(4, 9, 28, 0.85), rgba(5, 9, 29, 0.85)),url(../images/background7.png);
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 200px;
}

#handle1{
    position: relative;
    right:280px;
    width:400px;
    height:300px;
    top:100px;
    opacity: 0.9;
}
#handle2{
    position: relative;
    right:115px;
    width:400px;
    height:300px;
    top:100px;
    opacity: 0.9;    
}
#handle3{
    position: relative;
    left:115px;
    width:400px;
    height:300px;
    top: 100px;
    opacity: 0.9;    
}
#handle4{
    position: relative;
    left:280px;
    width:400px;
    height:300px;
    top:100px;
    opacity:0.9;    
}

#handle5{
    position: relative;
    right:280px;
    width:400px;
    height:300px;
    top:250px;
    opacity: 0.9;
}
#handle6{
    position: relative;
    right:115px;
    width:400px;
    height:300px;
    top:250px;
    opacity: 0.9;    
}
#handle7{
    position: relative;
    left:115px;
    width:400px;
    height:300px;
    top:250px;
    opacity: 0.9;    
}
#handle8{
    position: relative;
    left:280px;
    width:400px;
    height:300px;
    top:250px;
    opacity:0.9;    
}

#mainHeader{
    position: relative;
    font-size: 50px;
    top:350px;
    font-weight: 1000;    
    color: red;
    background-image: url(../images/background4.jpeg);    
    background-size: auto;    
    padding-top: 25px;
    padding-bottom: 25px;
}

#fantastic{
    position: relative;
    font-size: 25px;
    top:420px;
    color:aliceblue;
}

/*----- Execution -----*/

.EXECUTION{
    width: 92%;
    margin: auto;
    text-align: center;
    color: black;
    padding-top: 250px;
    padding-bottom: 450px;
    background-image: linear-gradient(rgba(4, 9, 28, 0.6), rgba(5, 9, 29, 0.7)),url(../images/background9.jpeg);
}
.EXECUTION h1{
    font-size: 70px;
    font-weight: 800;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    bottom: 50px;
    color: rgb(216, 65, 65);   
    font-family: 'Martian Mono', monospace;
    background-image: linear-gradient(rgba(4, 9, 28, 0.9), rgba(5, 9, 29, 0.7)),url(../images/background12.jpeg);    
    
}
#guillotine{
    font-size:30px;
    font-weight:600;
    position:relative;    
    color:ivory;
}
#fgsHard{
    position:relative;
    width: 800px;
    height:425px; 
    padding-top: 50px;   
}
.exec-row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    color:ivory;
    padding-left: 100px;
    font-size: 20px;
}
.EXECUTION h2{
    font-size: 50px;
    font-weight: 600;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    top:100px;    
    color: rgb(216, 65, 65);   
    font-family: 'Martian Mono', monospace;
    background-image: linear-gradient(rgba(4, 9, 28, 0.9), rgba(5, 9, 29, 0.7)),url(../images/background12.jpeg);    
    
}
#starter{
    position:relative;
    left:150px;
    font-size: 25px;
}
#moveList{
    position:relative;
    right:300px;
    width:800px;
}








nav .fa {
    display: none;
}

@media(max-width: 700px) {
    .text-box {
        font-size: 20x;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }

    nav .fa {
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 15px
    }
}